<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <img src="http://imageshack.us/a/img89/3919/cuai.jpg" alt>
      <div class="carousel-caption">
        <h4>Example Text</h4>
        <p>
          "This is only temporary text"
        </p>
      </div>
    </div>
    <div class="item">
       <img src="http://31.media.tumblr.com/32700d6d0bf151177314412bc1be09d7/tumblr_mgvl1pg6DB1rk1rbbo1_500.jpg" alt>
      <div class="carousel-caption">
        <h4>McFly's Logo</h4>
        <p>
          "This is only temporary text"
        </p>
      </div>
    </div>
    <div class="item">
      <img src="http://bloximages.chicago2.vip.townnews.com/nwitimes.com/content/tncms/assets/v3/editorial/5/51/5514d332-9e73-544e-a198-f72434444966/5274488a0dfa0.preview-620.jpg" alt>
      <div class="carousel-caption">
        <h4>Original Six Barbers</h4>
        <p>
          "This is only temporary text"
        </p>
      </div>
  </div>
  </div>

</div>

<!-- Barbers on duty -->
<div class="row">
  
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://www.openmarket.org/wp-content/uploads/2009/09/barber.jpg" alt="barber1">
        <div class="caption">
          <h3>Jason Potchen</h3>
          <p>At McFly's barbershop, we strive to provide the best quality haircuts at a fair price. So you can continue being a baller on a budget!</p>
          <p><a href="#" class="btn btn-primary" role="button">Book Now</a></p>
        </div>
      </div>
    </div>


  <div class="col-md-4" >
    <div class="thumbnail">
      <img src="http://www.openmarket.org/wp-content/uploads/2009/09/barber.jpg" alt="...">
      <div class="caption">
        <h3>Bobby Valentine</h3>
        <p>At McFly's barbershop, we strive to provide the best quality haircuts at a fair price. So you can continue being a baller on a budget!</p>
        <p><a href="#" class="btn btn-primary" role="button">Book Now</a> </p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://www.openmarket.org/wp-content/uploads/2009/09/barber.jpg" alt="...">
        <div class="caption">
          <h3>Mark Cuban</h3>
          <p>At McFly's barbershop, we strive to provide the best quality haircuts at a fair price. So you can continue being a baller on a budget!</p>
          <p><a href="#" class="btn btn-primary" role="button">Book Now</a></p>
        </div>
      </div>
    </div>
</div>
    


























