<div class="bookings">
	<div class="jumbotron">
  		<h2><strong>McFly's Made Easy</strong></h2>
  		<h4>You're just a couple of moments away from making an appointment with the best barbershop in the Midwest.</h4>
  		<p><a class="btn btn-primary btn-lg" role="button">Book Now</a></p>
	</div>
</div>