

	<span class="instagram" >
		<iframe src="http://snapwidget.com/sl/?u=amF5bWNmbHlhbmRpc2VkdXxpbnw1MDB8MnwyfHx5ZXN8MjB8ZmFkZU91dHxvblN0YXJ0fHllcw==&v=18214" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:530px; height:500px"></iframe></a>
	</span>
	<span class="twitter">
		<a class="twitter-timeline" href="https://twitter.com/JRespectMyBeard" data-widget-id="435992904822054914">Tweets by @JRespectMyBeard</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</span>
