// Place all the styles related to the headlines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .instagram {
 	float: left;
	border-right: solid 1px #CCC;
	padding: 50px 28px;
}

.twitter {
	float: right;
	width: 500px;
}

.jumbotron {
	padding: 20px 0px;
	margin: 0px 0px 20px 0px;
}